# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

airflow/logs/*
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/airflow.db

mlflow/*
!mlflow/.gitkeep

data/*
!data/Iris.csv

.idea/*
